
[
  {emqx_plugin_rabbitmq, [
	host: "127.0.0.1",
	port: "5672",
	pool: "10",
	reconnect: "3",
	client_connected: "on",
	message_publish: "on",
	username: "admin",
	password: "123456",
	exchange: "mqtt.events",
	prefer_ipv6: false
  ]}
].





##hook.rabbitmq.host = 127.0.0.1
##hook.rabbitmq.port = 5672
##hook.rabbitmq.pool = 10
## hook.rabbitmq.reconnect = 3
## hook.rabbitmq.client.connected = on
## hook.rabbitmq.client.disconnected = on
## hook.rabbitmq.message.publish = on
## hook.rabbitmq.username = guest
## hook.rabbitmq.password = guest
## hook.rabbitmq.exchange = mqtt.events
## hook.rabbitmq.prefer_ipv6 = false


	## host: "127.0.0.1",
	## port: "5672",
	## pool: "10",
	## reconnect: "3",
	## client_connected: "on",
	## message_publish: "on",
	## username: "admin",
	## password: "123456",
	## exchange: "mqtt.events",
	## prefer_ipv6: false