
[
  {emqx_plugin_rabbitmq, [
	{hook_rabbitmq_host, "47.99.55.196"},
	{hook_rabbitmq_port, "5672"},
	{hook_rabbitmq_pool, "10"},
	{hook_rabbitmq_username, "admin"},
	{hook_rabbitmq_password, "123456"},
	{hook_rabbitmq_exchange, "amq_topic"},
	{hook_rabbitmq_prefer_ipv6, false}
  ]}
].


%% hook.rabbitmq.host = 127.0.0.1
%% hook.rabbitmq.port = 5672
%% hook.rabbitmq.pool = 10
%% hook.rabbitmq.reconnect = 3
%% hook.rabbitmq.client.connected = on
%% hook.rabbitmq.client.disconnected = on
%% hook.rabbitmq.message.publish = on
%% hook.rabbitmq.username = guest
%% hook.rabbitmq.password = guest
%% hook.rabbitmq.exchange = mqtt.events
%% hook.rabbitmq.prefer_ipv6 = false
